.icon-button {
    -icon-paint: black;
    -fx-content-display: graphic-only;

    -icon-paint: black;
}

.icon-button:hover {
    -icon-paint: linear-gradient(to bottom, black, black);
}

.icon-button .icon-modifie {
    -fx-background-color: -icon-paint;
    -size: 10;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M899.8,227l68.9-72L817.1,10l-68.9,72.1l-33.9-32.5L103.7,687.9l-4.9,20.6L31.3,990l278.2-79.8l20.3-5.8L940.5,266L899.8,227z M814.6,214.9L260.7,794l-43.8-41.8l554-579.1L814.6,214.9z M715.8,120.4l36.9,35.4L198.8,734.9l-36.9-35.3L715.8,120.4z M146.9,904.7l-35.5-34l29.3-122.1l127,121.5L146.9,904.7z M315.7,846.7l-37-35.3l554-579.1l37,35.3L315.7,846.7z";
}

.icon-button .icon-delete {
    -fx-background-color: -icon-paint;
    -size: 10;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M928.8,255c33.7,0,61.2,13.8,61.2,30.6c0,16.8-27.6,30.6-61.2,30.6l-153.1,0H224.4H71.3c-34,0-61.3-13.8-61.3-30.6c0-16.8,27.3-30.6,61.3-30.6H928.8z M775.6,376.9l61.3,0.9c-0.3,16.8-6.7,411.6-22.7,485.7C787.6,988.5,700.6,990,696.9,990H324.8c-88.5,0-129.9-82.7-139-126.5l-0.9-4.9l-21.7-479.9l61.3-2.8l21.7,476.8c3.4,12.9,22.7,76,78.7,76h372.1c0.9,0,41.6-3.4,57.6-77.8C766.4,794,773.8,489.6,775.6,376.9z M775.6,193.8h-61.3c0-1.2-1.2-122.5-74.4-122.5H360c-73.2,0-74.4,121.3-74.4,122.5h-61.2C224.4,130.1,252.6,10,360,10H640C747.1,10,775.6,130,775.6,193.8z M622.5,377.5h61.3v490h-61.3V377.5z M469.4,377.5h61.2v490h-61.2V377.5z M316.3,377.5h61.3v490h-61.3V377.5z";
}